.fitness-locations{
    height:100%;
}
.fitness-locations-list{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    height:100vh;
}
.fitness-locations-true{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    height:100vh;
}
.fitness-locations .search-input{
    width:20%;
}
.fitness-locations button{
    margin-bottom:.3%;
}